/*----General---*/
*{
    margin:0;
    padding:0;
}

#body__index{
    width: 95%;
    margin: 0 auto;
    background-color:rgba(252, 232, 173, 0.452);
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 20% 10% 6% 5% 10% 10% 10% 10% 10%;
    row-gap: 1%;
}

#body__productos{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(245, 221, 187);
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 10% 80% 10%;
    row-gap: 1%;
}

#body__nosotros{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(245, 221, 187);
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 10% 40% 35% 10%;
    row-gap: 1%;
}

#body__faqs{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(245, 221, 187);
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 12% 70% 10%;
    row-gap: 1%;
}

#body__item{
    width: 95%;
    margin: 0 auto;
    background-color: rgb(245, 221, 187);
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 10% 33% 32% 1% 12% 10%;
    row-gap: 1%;
}

/*----Estilos tipograficos----*/

/* font-family: 'Marcellus', serif;
font-family: 'Noto Serif', serif;
font-family: 'Raleway', sans-serif; */


/*-----NAVEGACION------------------------*/


#header__index{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(70, 67, 67);
    display: grid;
    grid-template-columns: 10% 15% 50% 15% 10%;
    grid-template-rows: 15% 15% 20% 20% 30%;
    row-gap: 2%;
}

.navbar{
    display: none;
    font-family: 'Raleway', sans-serif;
}

.nav-item a{
    color: rgb(250, 165, 9);
}

.headercont__logo{
    grid-column: 1 / 3 ;
    grid-row: 1 / 3;
}

.headercont__logo, img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.header__navegacion{
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    font-family: 'Raleway', sans-serif;   
}

.header__navegacion, ul{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: 1em;
}

.header__navegacion, ul, a{
    padding-right: 10px;
    padding-left: 30px;
    transition: all 0.3s ease;
    color: white;
}

.header__navegacion, ul, form, .busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.btn{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.formbtn{
    border: 1px solid white;
    border-radius: 10px;
}

.header__listaSecundaria{
    display: flex;
    justify-content: space-evenly;
    grid-column: 4 / 6;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.header__listaSecundaria, li{
    list-style: none;
    font-size: 0.85em;
    padding-right: 10px;
    margin-top: 15px;
}


/*---------MAIN------------------------*/


main{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.main__textoPrincipal, h1{
    font-family: 'Marcellus', serif;
    color: rgb(235, 188, 46);
    font-size: 1.8em;
    font-weight: bolder;
    }

.main__presentacion, h2{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#carrusel{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#carrusel img{
    height: 270px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next{
    background-color: rgba(70, 67, 67, 0.75);
    margin: auto 0;
    width: 3%;
    height: 15%;
    border-radius: 50%;
}


/*----CUERPO INDEX----------------------*/


#bullets{
    grid-column: 1 / 11;
    grid-row: 4 / 5;
    width: 99%;
    display: grid;
    grid-template-columns: 10% 35% 2% 10% 35%;
    gap: 0.8%;
}

.bullets1{
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.bullets2{
    grid-column: 4 / 6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.envio1 i, .envio2 i{
    border-radius: 25%;
    font-size: 250%;
}

#bullets p{
    color: rgb(70, 67, 67);
}


/*----CUERPO PRODUCTOS-------------------*/


#categorias{
    grid-column: 1 / 11;
    grid-row: 5 / 10;
    width: 101.3%;
    height: 100%;
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.categorias__ img{
    transition: all 0.3s ease;
}

.almohadones a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 67, 67, 0.5);
}

.decoracion a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 67, 67, 0.5);
}

.cuadros a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 67, 67, 0.5);
}

.mantas a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 67, 67, 0.5);
}

.sillas a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 67, 67, 0.5);
}

.mascotas a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    bottom: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(70, 67, 67, 0.5);
}


/*----CUERPO PRODUCTOS PAGE---------------*/


#header__productos{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-image: url(../assets/needobannerprod.jpg);
    display: grid;
    grid-template-columns: 10% 15% 50% 15% 10%;
    grid-template-rows: 1fr 1fr;
    padding: 1.2%;
    row-gap: 3%;
}

.listado{
    background-color: white;
    padding: 10% 0% 0% 0%;
}

#cont__productos{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr;
    row-gap: 4%;
    column-gap: 8%;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 10%;
}

.cont__productos__ a{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.cont__productos__ p{
    color: rgb(70, 67, 67);
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: x-large;
    padding: 3% 5% 1% 17%;
}

.cont__productos__ .fa-solid{
    color: rgb(70, 67, 67);
    background-color: rgb(255, 183, 50);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5%;
    transition: all 0.5s ease;
}


/*---------CUERPO ITEMS-----------*/

#header__item{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-image: url(../assets/needobannerprod.jpg);
    display: grid;
    grid-template-columns: 10% 15% 50% 15% 10%;
    grid-template-rows: 1fr 1fr;
    padding: 1.2%;
    row-gap: 3%;
}

#item{
    grid-column: 4 / 8;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1%;
    margin:5% 0% 3% 0%;
    padding: 5%;
    background-color: white;
}

#carrusel__item .carousel-control-prev, .carousel-control-next{
    margin: auto 0;
    width: 10%;
    height: 8%;
    border-radius: 50%;
}

#item .detalle__item{
    grid-column: 4 / 8;
    width: 100%;
}

.detalle__item .producto__titulo{
    color: rgb(70, 67, 67);
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.botoncompra {
    background: rgb(70, 67, 67);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

#productodesc{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 50%;
    margin: 0 auto;
    padding: 0% 5% 0% 5%;
}

.tituloprodrelacionados{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    font-size: 2.2em;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

#cont__productos__relacionados{
    grid-column: 1 / -1;
    grid-row: 5 / 7; 
    width: 95%;
    display: flex;
    flex-direction: row;
}

.cont__productos__relacionad{
    background-color: white;
    margin: 3% 0% 3% 0%;
    gap: 3%;
    padding: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

#cont__productos__relacionados i{
    background-color: rgb(255, 183, 50);
    padding: 3%;
    transition: all 0.7s ease;
}

/*----------CUERPO NOSOTROS-------------*/


#header__nosotros{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(70, 67, 67);
    display: grid;
    grid-template-columns: 10% 15% 50% 15% 10%;
    grid-template-rows: 1fr 1fr;
    padding: 1.2%;
}

#nosotros__resena__historica{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#nosotros__resena__historica p{
    font-size: 1.2em;
    margin: 0px;
}

#nosotros__socios{
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.socios1, .socios2{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(70, 67, 67, 0.85);
    font-family: 'Raleway', sans-serif;
}
.socios1 p, .socios2 p{
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 183, 50);
    font-size: 1.1em;
    padding: 5%;
}

.socios1 img, .socios2 img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    padding: 3%;
    transition: all 0.5s ease;
}

.socios1 h2{
    font-size: xx-large;
    color: rgb(255, 183, 50);
    font-weight: bolder;
}

.socios2 h2{
    font-size: xx-large;
    color: rgb(255, 183, 50);
    font-weight: bolder;
}

#nosotros__laEmpresa img{
    width: 100%;
    object-fit: cover;
}

#nosotros__laEmpresa p{
    font-family: 'Raleway', sans-serif;
    color: rgb(70, 67, 67);
}


/*------------CUERPO FAQS--------------*/


#header__faqs{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(70, 67, 67);
    display: grid;
    grid-template-columns: 10% 15% 50% 15% 10%;
    grid-template-rows: 1fr 1fr;
    padding: 1.2%;
    row-gap: 5%;
}

.faqs{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.contpregunta{
    margin: 0px;
}

.contpregunta button{
    width: 95%;
    background-color: rgb(255, 183, 50);
}

.pregunta, .pregunta2, .pregunta3, .pregunta4, .pregunta5{
    margin: 2% 0% 0% 0%;
    padding: 2%;
    border: 0px;
}

.collapse{
    width: 95%;
}

.contpregunta p{
    color: rgb(70, 67, 67);
    font-weight: bold;
}

#body__faqs h2{
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(70, 67, 67);
    font-weight: bolder;
}

/*--------------PIE----------------------*/


#whatsapp {
    position: fixed;
    z-index: -3;
    margin-left: 91%;
    margin-top: 23.5%;
 }

#whatsapp i{
    font-size: 300%;
    color: rgb(70, 67, 67);
}

#footer{
    grid-column: 1 / -1;
    grid-row: -1 / -1;
    background-color: rgb(70, 67, 67); 
    display: grid;  
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10%;
}

.footer__logo{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.footer__enlacesInternos{
    grid-column: 3 / 8;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1%;
}

.footer__enlacesInternos li{
    padding: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.footer__enlacesInternos a{
    padding: 10px;
}


/*--------REDES------------------------*/


.footer__enlacesredes{
    list-style: none;
    grid-column: 8 / 9;
    grid-row: 2 / 3;
    padding: 2%;
    color: white
}

.footer__enlacesredes a{
    padding: 15px;
    font-size: xx-large;
}





/*-------PSEUDO CLASES--------------------*/




.categorias__ img:hover{
    scale: 103%;
}

.cont__productos__:hover{
    scale: 103%;
}

.fa-solid:hover{
    scale: 103%;
}

.header__navegacion ul a:hover{
    border: 1px solid white;
}

.socios1 img:hover{
    scale: 103%;
}

.socios2 img:hover{
    scale: 103%;
}

  .botoncompra:hover {
    color: #fff;
  }
  .botoncompra::after {
    content: "";
    background: rgb(255, 183, 50);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .botoncompra:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }


/*-----MEDIA QUERIES 375px--------------*/





@media (max-width: 375px) {

    /*---------BODY MEDIA QU-----------*/

    #body__index{
        width: 100%;
        grid-template-rows: 15% 10% 58% 10%;
        grid-template-columns: 50% 50%;
        row-gap: 0.5%;
    }

    #body__productos{
        width: 100%;
        grid-template-rows: 3% 78% 26%;
        row-gap: 0.5%;
    }

    #body__nosotros{
        width: 100%;
        grid-template-rows: 9.5% 30% 47% 10%;
        row-gap: 1%;
    }

    #body__faqs{
        width: 100%;
        grid-template-rows: 20% 67% 10%;
        row-gap: 2%;
    }

    #body__item{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 20% 25% 1% 43% 5%;
        row-gap: 0.5%;
    }



    /*---------HEADERS MEDIA QU-----------*/

    #header__index{
        grid-row: 1 / 2;
        grid-template-rows: 10% 10% 50%;
        row-gap: 5%;
        height: 98%
    }

    #header__productos{
        display: grid;
        grid-template-rows: 10% 10% 50%;
        row-gap: 15%;
        padding: 3%;
    }

    #header__nosotros{
        display: grid;
        grid-template-rows: 10% 10% 50%;
        row-gap: 15%;
        padding: 3%;
    }

    #header__faqs{
        display: grid;
        grid-template-rows: 8% 10% 50%;
        row-gap: 20%;
        padding: 0%;
    }

    #header__item{
        display: grid;
        grid-template-rows: 8% 10% 50%;
        row-gap: 20%;
        padding: 1%;
    }

/*---------NAV MEDIA QU-----------*/

    .navbar{
        display: contents;
    }

    .header__listaSecundaria{
        display: flex;
        justify-content: center;
        grid-column: 1 / -1;
    }

    .headercont__logo{
        grid-row: 2 / 4;
        grid-column: 1 / 4;
        padding: 5%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header__navegacion ul{
        display: none;
    }

/*------------INDEX MEDIA QU--------------*/

    main{
        grid-column: 2 / 5;
        grid-row: 3 / 5;
        display: flex;
        flex-wrap: wrap;
    }

    .main__textoPrincipal h1{
        font-size: 1.5em;
        text-align: center;
    }

    .main__presentacion h2{
        font-size: 1.1em;
        display: flex;
        align-items: flex-start;
        text-align: center;
    }

    #carrusel{
        display:none;
    }

    #bullets{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 0%;
        row-gap: 5%;
        font-size: 70%;
    }

    .bullets1{
        grid-column: 1 / -1;
        justify-content: flex-start;
        width: 100%;
    }
    
    .bullets2{
        grid-column: 1 / -1;
        justify-content: flex-start;
        width: 100%;
    }
    
    .bullets__textoenvio1{
        padding: 0% 2% 0% 2%;
    }

    .envio1{
        padding: 0% 5% 0% 5%;
    }

    #categorias{
        grid-row: 3 / 4;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.12fr;
        row-gap: 1%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .categorias__ img{
        width: 80%;
        max-height: 100%;
    }   

/*------------PRODUCTOS MEDIA QU----------*/

    #cont__productos{
        grid-column: 2 / 14;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1%;
    }

    .cont__productos__ {
        padding: 10% 0% 0% 0%;
        margin: 0%;
        width: 88%;
        font-size: 0.7em;
    }

    .cont__productos__ img{
        width: 100%;
    } 

/*--------ITEM MEDIA QU---------------*/

#item{
    grid-column: 1 / 2;
    flex-direction: column;
    row-gap: 1%;
    margin:0% 0% 1% 0%;
    padding: 5%;
}

#carrusel__item .carousel-control-prev, .carousel-control-next{
    width: 15%;
    height: 10%;
}

.detalle__item .producto__titulo{
    font-size: 25px;
}

#productodesc{
    width: 100%;
    padding: 0% 5% 0% 5%;
    font-size: 80%;
}

.tituloprodrelacionados{
    color: white;
    font-size: 1.5em;
    background-color: rgb(70, 67, 67);
}

#cont__productos__relacionados{
    width: 100%;
    flex-direction: column;
}

.cont__productos__relacionad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont__productos__relacionad a{
    display: flex;
    justify-content: center;
    padding: 3%;
    margin: 3%;
}


/*--------NOSOTROS MEDIA QU---------------*/

    #nosotros__resena__historica{
        grid-row: 2 / 3;
    }
    
    #nosotros__resena__historica p{
        font-size: 0.8em;
    }
    
    #nosotros__socios{
        grid-row: 3 / 5;
    }
    
    .socios1{
        width: 100%;
        flex-wrap: wrap;
    }
    
    .socios2 p{
        width: 80%;
        font-size: 0.8em;
        padding: 2%;
    }

    .socios1 p{
        width: 80%;
        font-size: 0.8em;
        padding: 2%;
    }
    
    .socios1 img, .socios2 img{
        margin: 0 auto;
        padding: 8% 0% 8% 0%;
    }
    
    .socios2{
        width: 100%;
        flex-wrap: wrap;
    } 

/*---------FAQS MEDIA QU-----------*/


.faqs{
    font-size: 0.8em;
}

.contpregunta button{
    width: 100%;
}

.collapse{
    width: 100%;
    font-size: x-small;
}

.contpregunta p{
    color: rgb(70, 67, 67);
    font-weight:bold;
    font-size: small;
}

#body__faqs h2{
    font-weight: normal;
}


/*--------------FOOTER-----------------*/


    #whatsapp {
        display:none;
    }           

    .almohadones a{
        left: 15%;
    }
    
    .decoracion a{
        left: 20%;
    }
    
    .cuadros a{
        left: 25%;
    }
    
    .mantas a{
        left: 20%;
    }
    
    .sillas a{
        left: 25%;
    }
    
    .mascotas a{
        left: 20%; 
    }

    #footer{
        display: grid;  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .footer__logo{
        display: none;
    }
    
    .footer__enlacesInternos{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        padding: 0%;
        font-size: small;
        display: flex;
        justify-content: center;
    }

    .footer__enlacesInternos a{
        padding: 10px;
    }
     
    .footer__enlacesredes{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
    }

    .footer__enlacesredes a{
        font-size: 120%;
    }

}